PROJECT_NAME=Base Project
SECRET_KEY=replace-with-at-least-32-random-characters
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=base_project
CORS_ALLOWED_ORIGINS=["http://localhost:5173"]
